ClippedDrawer.root {
  display: 'flex',
}

ClippedDrawer.appBar {
  zIndex: theme.zIndex.drawer + 1,
}

ClippedDrawer.drawer {
  width: 240,
  flexShrink: 0,
}

ClippedDrawer.drawerPaper {
  width: drawerWidth,
}

ClippedDrawer.content {
  flexGrow: 1,
  padding: theme.spacing(3),
}

ClippedDrawer.toolbar {
    theme.mixins.toolbar
}